.Header {
	color: #443e3e;
	text-shadow: 1px 1px 5px #fff;
}

.header-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	align-content: space-around;
}

.search-bar {
	flex: 0 0 auto;
	margin: 10px;
}
